@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #1a1a1a;
  --foreground: #ededed;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1a1a1a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
  min-height: 100vh;
}

html, body {
  width: 100%;
  max-width: 100vw;
}

.mapboxgl-popup-content {
  color: #222 !important;
  background: #fff !important;
}
